<h1>Editing Quiz #<%= @quiz.id %></h1>

<form action="/quizzes/<%= @quiz.id %>/update">
  <div>
    <label for="chapter_number">Chapter Number</label><br />
    <input id="chapter_number" name="chapter_number" value="<%= @quiz.chapter_number  %>" type="text" />
  </div>
  <div>
    <label for="chapter_name">Chapter Name</label><br />
    <input id="chapter_name" name="chapter_name" value="<%= @quiz.chapter_name  %>" type="text" />
  </div>
  <div>
    <label for="number_of_questions">Number of Questions</label><br />
    <input id="number_of_questions" name="number_of_questions" value="<%= @quiz.number_of_questions  %>" type="text" />
  </div>
 	<div>
    <label for="user_id">User</label><br />
   <select name = "user_id" value="<%= @quiz.user_id  %>">
		 <% @users.each do |user|%>
			<option value = "<%= user.id %>"><%= user.name %></option>
		<% end %>
		</select>
  </div>
  <br>
  <div>
    <input type="submit">
  </div>
</form>


