<h1>Chapter <%= @quiz.chapter_number %>: <%= @quiz.chapter_name %></h1>

<div>
<strong>Chapter <%= @quiz.chapter_number %>: <%= @quiz.chapter_name %></strong>
</div>
<br>
<div>
  <strong>Number of questions</strong>:<br />
  <p><%= @quiz.number_of_questions %></p>
</div>
<div>
  <strong>User</strong>:<br />
	<p><%= @quiz.user.name %></p>
</div>
<% if @quiz.number_answered == nil %>
<% if @quiz.id = 3 %>
<button><a href="/questions/1">Start Quiz!</a></button>
<% elsif @quiz.id = 4 %>
<button><a href="/questions/6">Start Quiz!</a></button>
<% elsif @quiz.id = 5 %>
<button><a href="/questions/11">Start Quiz!</a></button>
<% elsif @quiz.id = 6 %>
<button><a href="/questions/16">Start Quiz!</a></button>
<% elsif @quiz.id = 7 %>
<button><a href="/questions/21">Start Quiz!</a></button>
<% elsif @quiz.id = 8 %>
<button><a href="/questions/26">Start Quiz!</a></button>
<% elsif @quiz.id = 9 %>
<button><a href="/questions/31">Start Quiz!</a></button>
<% elsif @quiz.id = 10 %>
<button><a href="/questions/36">Start Quiz!</a></button>
<% elsif @quiz.id = 11 %>
<button><a href="/questions/41">Start Quiz!</a></button>
<% elsif @quiz.id = 12 %>
<button><a href="/questions/46">Start Quiz!</a></button>
<% elsif @quiz.id = 13 %>
<button><a href="/questions/51">Start Quiz!</a></button>
<% elsif @quiz.id = 14 %>
<button><a href="/questions/56">Start Quiz!</a></button>
<% elsif @quiz.id = 15 %>
<button><a href="/questions/61">Start Quiz!</a></button>
<% end %>
<% end %>
<% if @quiz.number_answered == @quiz.number_of_questions %>
<h3><small> You finished this quiz. </small></h3>
<div>
  <strong>Score</strong>:<br />
  <p><%= @quiz.score %></p>
</div>
<% end %>
<button><a href="/quizzes/<%= @quiz.id %>/edit">Edit</a></button>&nbsp
<button><a href="/quizzes/<%= @quiz.id %>/destroy">Destroy</a></button>
