<h1>Quiz #<%= @quiz.id %></h1>

<div>
<strong>Chapter <%= @quiz.chapter_number %>: <%= @quiz.chapter_name %></strong>
</div>

<div>
  <strong>Number of questions</strong>:<br />
  <p><%= @quiz.number_of_questions %></p>
</div>
<div>
  <strong>User</strong>:<br />
	<p><%= @quiz.user.name %></p>
</div>

<button><a href="/quizzes/<%= @quiz.id %>/edit">Edit</a></button>&nbsp
<button><a href="/quizzes/<%= @quiz.id %>/destroy">Destroy</a></button>
