<h1>Users
<br>
<small>Hello, welcome to Users. Please use squarish images for your profiles pictures, as they will turn out the best. Thanks!</small></h1>
<button class="hooray"><a href="/new_user">Add a New User</a></button>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Bio</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.bio %></td>
          <td><img src="<%= user.pic %>" alt="Pic" height="100px" width="100px"></td>
          <td><button class="hooray"><a href="/users/<%= user.id %>">Show</a></button></td>
    </tr>
  <% end %>
  </tbody>
</table>
